{% load static %}
<!DOCTYPE html>
<html>

<head>
    <!--<link rel="stylesheet" href="style.css">-->

    <!-- load the luxon library -->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.4.4"></script>
    <!-- load Chart.js library for data visualization-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.js"></script>
    <!-- load the luxon adapter -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.3.1"></script>
    <!-- load jQuery library for common frontend tasks-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- load script with financial data plotter (LOCAL FILE NEEDED!)-->
    <script src="{% static 'chartjs-chart-financial.js' %}"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- zooming in plots -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.2.1"></script>

    <title>Stock Visualizer</title>
</head>

<body>
    <h2>Interactive Stock Visualizer</h2>
    <br>

    <!-- input field for the ticker -->
    <label for="ticker-input">Enter Symbol:</label>
    <input type="text" id="ticker-input">
    <!-- submit button for the input field -->
    <input type="button" value="submit" id="submit-btn">
    <br>
    <input type="checkbox" id="update_db_checkbox" value="update_db_values"> Update database values
    </br>
    <label for="selection">API provider:</label>
    <select name="selection" id="selection">
        <option value="alphavantage">Alpha Vantage</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
    </select>

    <!-- canvas over which Chart.js will generate the plot -->
    <div id="graph-area">
        <h2>Plot</h2>
        <canvas id="greatChart"></canvas>
    </div>
    <br>

    <script>
        $(document).ready(function () {
            // Right after the page is loaded, we get the stock data (default to GOOG) from the Django backend (the 'get_stock_data' function) for plotting
            $.ajax({
                type: "POST",
                url: "/get_stock_data/",
                data: {
                    'ticker': 'GOOG'
                },
                success: function (res, status) {
                    // GOOG's stock price and SMA data is now in the "res" object
                    var n_latest_days = 500;
                    var tickerDisplay = res['ticker']; // fetch data (ticker) from res object
                    var graphTitle = tickerDisplay + ' (data for the trailing ' + n_latest_days + ' trading days)'

                    var priceSeries = res['prices']; // fetch data (stock prices) from res object
                    var daily_adjusted_close = [];
                    var dates = [];

                    price_data_parse = function () {
                        for (let key in priceSeries) {
                            console.log('key ${key}')
                            daily_adjusted_close.push(Number(priceSeries[key]['close']));
                            dates.push(String(priceSeries[key]['date']));
                        }
                    };
                    price_data_parse(); // populate the daily_adjusted_close and dates objects

                    // only keep the latest n_latest_days data points (i.e., data for the latest n_latest_days trading days) for the three lists below
                    daily_adjusted_close.reverse().slice(n_latest_days);
                    dates.reverse().slice(n_latest_days);

                    const priceSeriesFormatted = priceSeries.map(
                        ({ date, open, high, low, close }) =>
                        ({
                            x: new Date(date).getTime(),
                            o: open,
                            h: high,
                            l: low,
                            c: close
                        })
                    );

                    const closeDataFormatted = priceSeries.map(
                        ({ date, close }) =>
                        ({
                            x: new Date(date).getTime(),
                            y: close
                        })
                    )

                    const dataToPlot = {
                        datasets: [{
                            label: 'OHLC for symbol ' + tickerDisplay,
                            data: priceSeriesFormatted
                        },
                        {
                            label: 'Close price',
                            type: 'line',
                            data: closeDataFormatted,
                            borderColor: 'red',
                            hidden: true,
                        }]
                    }

                    const options = {
                        plugins: {
                            legend: {
                                display: true,
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: graphTitle
                            },
                            tooltip: {
                                enabled: true,
                                mode: 'nearest',
                                intersect: false,
                                callbacks: {
                                    label: function (context) {
                                        const point = context.raw;
                                        return [
                                            `Open: ${point.o}`,
                                            `High: ${point.h}`,
                                            `Low: ${point.l}`,
                                            `Close: ${point.c}`
                                        ];
                                    }
                                }
                            },
                            zoom: {
                                pan: {
                                    enabled: true,
                                    mode: 'xy'
                                },
                                zoom: {
                                    enabled: true,
                                    mode: 'xy',
                                    drag: {
                                        enabled: true,
                                        borderColor: 'rgba(0, 0, 0, 0.5)',
                                        borderWidth: 1,
                                        backgroundColor: 'rgba(225,225,225,0.3)'
                                    }
                                }
                            }
                        },
                        scales: {
                            x: {
                                type: 'time',
                                time: {
                                    unit: 'day',
                                    displayFormats: {
                                        day: 'D'
                                    },
                                },
                            },
                            y: {
                                beginAtZero: false
                            }
                        }
                    };

                    const ctx = document.getElementById('greatChart').getContext('2d');
                    new Chart(ctx, {
                        type: 'candlestick',
                        data: dataToPlot,
                        options: options
                    });

                }
            });
        });

        $('#submit-btn').click(function () {
            var n_latest_days = 500;
            // when the user specifies a new ticker, we call the Django backend (the 'get_stock_data' function) to get the stock data and refresh the graph. 
            var tickerText = $('#ticker-input').val(); // obtain the ticker string from the input textbox, requires jQuery
            var checkboxVal = $('#update_db_checkbox').is(':checked') ? $('#update_db_checkbox').val() : 'load_db_values';
            var apiProvider = $("#selection").val();
            ;
            $.ajax({
                type: "POST",
                url: "/get_stock_data/",
                data: {
                    'ticker': tickerText,
                    'update': checkboxVal,
                    'api': apiProvider,
                },
                success: function (res, status) {
                    // stock price and SMA data for the user-specified ticker is now in the "res" object
                    var tickerDisplay = res['ticker'];
                    var graphTitle = tickerDisplay + ' (data for the trailing ' + n_latest_days + ' trading days)'

                    var priceSeries = res['prices'];
                    var daily_adjusted_close = [];
                    var dates = [];

                    price_data_parse = function () {
                        for (let key in priceSeries) {
                            console.log('key ${key}')
                            daily_adjusted_close.push(Number(priceSeries[key]['close']));
                            dates.push(String(priceSeries[key]['date']));
                        }
                    };
                    price_data_parse(); // populate the daily_adjusted_close and dates objects

                    // only keep the latest n_latest_days data points (i.e., data for the latest n_latest_days trading days) for the three lists below
                    daily_adjusted_close.reverse().slice(n_latest_days);
                    dates.reverse().slice(n_latest_days);

                    //instruct Chart.js to plot the graph, with "dates" as the x-axis labels and "daily_adjusted_close" and "sma_data" as the y-axis values
                    $('#greatChart').remove(); // remove the canvas of the old plot
                    $('#graph-area').append('<canvas id="greatChart"><canvas>'); // add the canvas of the new plot
                    const priceSeriesFormatted = priceSeries.map(
                        ({ date, open, high, low, close }) =>
                        ({
                            x: new Date(date).getTime(),
                            o: open,
                            h: high,
                            l: low,
                            c: close
                        })
                    );

                    const closeDataFormatted = priceSeries.map(
                        ({ date, close }) =>
                        ({
                            x: new Date(date).getTime(),
                            y: close
                        })
                    )

                    const dataToPlot = {
                        datasets: [{
                            label: 'OHLC for symbol ' + tickerDisplay,
                            data: priceSeriesFormatted
                        },
                        {
                            label: 'Close price',
                            type: 'line',
                            data: closeDataFormatted,
                            borderColor: 'red',
                            hidden: true,
                        }]
                    }

                    const options = {
                        plugins: {
                            legend: {
                                display: true,
                                position: 'top',
                            },
                            title: {
                                display: true,
                                text: graphTitle
                            },
                            tooltip: {
                                enabled: true,
                                mode: 'nearest',
                                intersect: false,
                                callbacks: {
                                    label: function (context) {
                                        const point = context.raw;
                                        return [
                                            `Open: ${point.o}`,
                                            `High: ${point.h}`,
                                            `Low: ${point.l}`,
                                            `Close: ${point.c}`
                                        ];
                                    }
                                }
                            },
                            zoom: {
                                pan: {
                                    enabled: true,
                                    mode: 'xy'
                                },
                                zoom: {
                                    enabled: true,
                                    mode: 'xy',
                                    drag: {
                                        enabled: true,
                                        borderColor: 'rgba(0, 0, 0, 0.5)',
                                        borderWidth: 1,
                                        backgroundColor: 'rgba(225,225,225,0.3)'
                                    }
                                }
                            }
                        },
                        scales: {
                            x: {
                                type: 'time',
                                time: {
                                    unit: 'day',
                                    displayFormats: {
                                        day: 'D'
                                    },
                                },
                            },
                            y: {
                                beginAtZero: false
                            }
                        }
                    };

                    const ctx = document.getElementById('greatChart').getContext('2d');
                    new Chart(ctx, {
                        type: 'candlestick',
                        data: dataToPlot,
                        options: options
                    });

                }
            });


        });

    </script>

</body>

</html>